@import './components/map/map.sass'

*
    box-sizing: border-box
body, main
    height: 100vh
    margin: 0
    padding: 0

.container-map
    display: flex
    justify-content: center
    align-items: center
    height: 100%
